#texttypingS {
    background: #ddcc56;
    font-family: sans-serif;
    text-align: center;
    font-size: 46px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    padding: 100px 0 100px;
    color: #555;
  }
    